@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}
#tree li.element {
	border: solid 1px black;
	border-radius: .3em;
	background-color: #f0f0f0;
}
#tree li.decision {
	border-width: 1px 0 0 1px;
	border-color: gray;
	border-style: dashed;
	background-color: #d0d0d0;
}
#tree li > a {
	display: inline-block;
	padding-left: .3em;
	width: 99%;
	border-radius: .3em;
}
#tree li.jstree-node > i.jstree-icon {
	width: 0px;
	background: none;
/*	border: 1px dotted red;*/
}
#tree li.root > i, #tree li.root > a {
	display: none;
}
#tree li.root > ul > li {
	margin-left: .5em;
}
